/* Font Face */
@font-face {
    font-family: 'webfont';
    src: url('../fonts/museosans_500-webfont-webfont.eot');
    src: url('../fonts/museosans_500-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosans_500-webfont-webfont.woff') format('woff'),
    url('../fonts/museosans_500-webfont-webfont.ttf') format('truetype'),
    url('../fonts/museosans_500-webfont-webfont.svg#webfontuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: #F4F4F4;
}

ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
h3{
    margin: 5px 0;
}

#container{
    margin: 0 auto;
    width: 960px;
}

#container h1{
    color: white;
    font-family: 'webfont', Arial, sans-serif;
    font-size: 3.5em;
    line-height: 1em;
    text-shadow: 4px 4px 0 #493854;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

#stage{
    float: left;
}
#special-bonus{
    margin: 10px 0;
    text-align: center;
}
#special-bonus h2{
    font-family: 'webfont', Arial, sans-serif;
    font-style: italic;
    font-size: 2.5em;
}

#eventboard{
    background-color: white;
    float: right;
    height: 275px;
    overflow: auto;
    width: 45%;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#eventboard h2, #scoreboard h2 {
    color: #444;
    font-size: 22px;
    font-family: Georgia, serif;
    text-align: center;
    text-transform: uppercase;
}
#event-list {
    margin: 0 10px 0 25px;
}
#scoreboard{
    background-color: white;
    box-shadow: ;
    float: right;
    width: 45%;
    margin-top: 25px;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#player-list li{
    margin-left: 15px;
    margin-top: 15px;
}
.score{
    font-family: Georgia, serif;
    font-weight: normal;
}
.nombre {
    font-size: 26px;
}
.this-player{
    color: green;
    font-family: Georgia, serif;
    font-weight: normal;
}

.other-players{
    color: red;
    font-family: Georgia, serif;
    font-weight: normal;
}
